 @using Data;
@{
    GetData gd = new GetData();
    var listCart = await gd.GetCategories();
}
<h4>Department</h4>
<ul>
    @foreach (var item in listCart)
    {
        <li><a asp-page="/ShopGird_ID/index" asp-route-CategoryID=@item.Id>@item.Name</a></li>
    }
</ul>