@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--
<div class="text-center">
    <h1 class=" display-4">Hello Hello</h1>
    <h2>Razor Page</h2>
    <img class=" mainImage" src="~/images/im1.jpg"/>
    <br />
    <a class=" nav-link text-dark" asp-area="" asp-page="Checkout/ThankYou">ThankYou</a>
</div>
-->



<body>
>
</body>

</html>