@page
@model front.Pages.OrdersPageModel
@{
}

<h3>Orders</h3>
<hr/>
<table class="table">
    <thread>
        <tr>
            <th>
                Id
            </th>
            <th>
                Pizza Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thread>
    <tbody>
        @foreach(var or in Model.pz){
        <tr>
            <th>
                @or.Id
            </th>
            <th>
                @or.PizzaName
            </th>
            <th>
                @or.BasePrice;
            </th>
        </tr>
        }
    </tbody>
</table>
